{% import 'helpers.j2' as helpers %}

[Interface]
PrivateKey = {{ item.stdout }}
Address = {{ helpers.ipv4(wireguard_ipv4, ansible_loop.index + 1) }}/16
DNS = {{ wireguard_client_dns }}

[Peer]
PublicKey = {{ server_public_key.stdout }}
AllowedIPs = 0.0.0.0/1, 128.0.0.0/1
Endpoint = {{ ansible_host }}:{{ wireguard_port }}
